/* header start */
.header {
    text-align: right;
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    vertical-align: middle;
    margin: 0 auto;
    height: 50px;
    width: 80%;
    background-color: #eee;
    display: block;
}

.header img {
    margin: 0;
    padding: 0;
}

.div_header_menus ul {
    margin-top: 2px;
}

.div_header_menus ul li {
    float: left;
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 60px;
    height: 100%;
}

.div_header_menus ul li a {
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.div_header_menus ul li a:hover {
    color: red;
}

/* header end */

/* footer start */
.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    /*position: fixed;*/
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* footer end */

/* container start */
.container {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    font-size: 12px;
}
.container table {
    margin:auto;width: 100%;
}

.form_save_button{
}

.form_reset_button{
    margin-left: 120px;
}


.container_header_info {
    margin:auto;width: 100%;
    text-align: left;
    background-color: rgb(245, 245, 245);
    border-color: rgb(221, 221, 221);
    font-size: 18px;

}
.container_detail_info {
    margin-left: 20px;
}

.container_detail_info span{
    margin-left: 120px;
}
.container_header_info span {
    float: right;
}
/*.container {*/
/*margin: 0 auto;*/
/*width: 80%;*/
/*}*/

/* container end */
