/* header start */
.header {
    text-align: right;
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    vertical-align: middle;
    margin: 0 auto;
    height: 50px;
    width: 80%;
    background-color: #eee;
    display: block;
}

.header img {
    margin: 0;
    padding: 0;
}

.header div div {
    float: left;
    height: 100%;
    display: inline;
}

.header ul li {
    float: left;
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 60px;
    height: 100%;
}

.header ul li a {
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.header ul li a:hover {
    color: red;
}

/* header end */

/* footer start */
.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* footer end */

/* container start */
.container {
    margin: 0 auto;
    width: 80%;
}

/* container end */
