<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>菜单管理</title>
    <link th:href="@{'/css/common/common.css?v=123'+${v}}" rel="stylesheet"/>
    <!--<script src="/js/lib/require.js" data-main="/js/main.js?v=31e22" id="page_menu_index"></script>-->
    <script src="/js/lib/require.js" data-main="/js/main.js?v=3sw12ssad2ss1s322112" id="current-js" current-module ="menu" init-method="list" async="true"></script>
    <style type="text/css">
        .error{
            color:red;
        }
    </style>
</head>
<body>
<div th:include="menu/menutpl :: tpl_menu_add"></div>
<div th:include="menu/menutpl :: tpl_menu_edit"></div>
<div th:include="menu/menutpl :: tpl_menu_detail"></div>
<div th:include="menu/menutpl :: tpl_menu_list"></div>
<!-- header start -->
<div th:class="header" th:include="common/header :: header (${menus}, ${name}) "></div>
<!-- header end -->

<!-- container start -->
<div class="container"></div>
<!-- container end -->

<!-- footer start -->
<div th:class="footer" th:include="common/footer :: copyright (${name}) "></div>
<!-- footer end -->
</body>
</html>